.header {
  //display: inline-block;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/img/programming_SP.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 50% 2.5%, 100% 0, 100% 100%, 50% 97.5%, 0 100%);
  position: relative;

  &__textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__icons {
    position: relative;
    width: 50%;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    :not(:first-child) {
      padding-left: 1rem;
    }

    img {
      width: 2.5rem;
      border-radius: 0.2rem;
      outline-offset: 0.1rem;
      animation: moveInBottomFar 1s ease-out;

      &:hover {
        outline: 0.2rem solid $color-white;
        transform: scale(1.1);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        transition: all 0.5s;
      }
    }
  }

  &__cv {
    position: relative;
    width: 25%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
